<div class="container mt-5">
<div class="card">
  <div class="card-header">
    <h1>Login Form</h1>
  </div>  
  <div class="card-body">
<form action="">
    <div>
<label for="" class="form-label">Name</label>
<input type="email" class="form-control" placeholder="Name">
</div>
<div>
    <label for="" class="form-label">Email Id</label>
    <input type="email" class="form-control" placeholder="Email-Id">
</div>

<div>
    <button type="button" class="btn btn-primary mt-3">Submit</button>
</div>

</form>

</div>

</div>


</div>