.container-fluid{
    width: 50%;
    height: auto;
}

.card-header{

    text-align: center;
    font-size: 25px;
    background-color: rgb(207, 207, 207);
    font-weight: bold;
}

.btn .btn-primary{

  align-items: center;
}